<h1 class="h1">> Projects</h1>
<div class="row-center button-container">
    <button (click)="addProject()" style="margin-right:10px;" mat-stroked-button color="primary">Add Projects</button>
    <button (click)="updateProject()" style="margin-left:10px;" mat-stroked-button color="primary">Update
        Projects</button>
</div>
<br />
<div class="row align-self-start">
    <div class="col-md-4 mg-1">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Project name</h3>
                <mat-icon>launch</mat-icon>
                <mat-icon>update</mat-icon>
                <mat-icon>disabled_by_default</mat-icon>
            </div>
            <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
            <div class="card-body">
                <p>Framework name</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione officia sint veniam illo voluptatem, quia a numquam ipsum inventore voluptatibus.</p>
                <p>Github Username: vishnurajagopalan293@gmail.com
                   Github Password: Vishnu@293
                </p>
                <mat-divider></mat-divider>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <span mat-line>Start date:</span>
                        <span>7/29/2021</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span mat-line>End date:</span>
                        <span>7/29/2021</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span mat-line>Completed</span>
                        <span>Yes</span>
                    </mat-list-item>
                </mat-list>
                <mat-divider></mat-divider>
                <br />
                <div align="center">
                    <button mat-raised-button>Add Contribution</button>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header" style="text-align: center;">
                <h3 class="card-title">Project name</h3>
            </div>


        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header" style="text-align: center;">
                <h3 class="card-title">Project name</h3>
            </div>


        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header" style="text-align: center;">
                <h3 class="card-title">Project name</h3>
            </div>


        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header" style="text-align: center;">
                <h3 class="card-title">Project name</h3>
            </div>


        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header" style="text-align: center;">
                <h3 class="card-title">Project name</h3>
            </div>


        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header" style="text-align: center;">
                <h3 class="card-title">Project name</h3>
            </div>


        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header" style="text-align: center;">
                <h3 class="card-title">Project name</h3>
            </div>


        </div>
    </div>
</div>