<app-header></app-header>
<div class="home">
  <div class="container">
    <div class="tag">
      <div class="h1">
        We love to make amazing and simple.
      </div>
      <br/>
      <p>We are team of developers making websites, mobile apps and
        enterprise data science platform that solves right problems,dig deep
        dive to get most valuable insight to drive business decisions</p>
      <button class="button">More info</button>
      <button class="button">Contact Us</button>
    </div>
    <div class="img">
      <img src="../../../../assets/images/Animate.gif" alt="">
    </div>
  </div>
  <div class="box-wrapper">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>
</div>
<div class="catalog">
  <div class="catlog-container">
    <div class="language">
      <h1>Languages</h1>
      <p>Python, JavaScript, Php, R</p>
      <div class="horizontal-line_1"></div>
      <div class="horizontal-line_2"></div>
    </div>
    <div class="framework">
      <h1>Frameworks</h1>
      <p>
        Angular, Ionic, React, ReactNative, Laravel, Django, Express, Vue js,
        Next Js, Node Js, MySql, MongoDb, Hadop hive, Pig, Spark
      </p>
      <div class="horizontal-line_1"></div>
      <div class="horizontal-line_2"></div>
    </div>
  </div>
  <div class="catlog-box-container">
    <div class="box"></div>
  </div>
</div>

<div class="about">
  <div class="portfolio">
    <div class="portfolio-content">
      To know about our portfolio, Click portfolio button
    </div>
    <button class="portfolio-button">Portfolio</button>
  </div>
  <div class="about-us">
    <div class="container-about-us">
      About Us
      <p>
        We create meaningful insights from data and help clients to better
        understand their customers, forecast demand, maximize sales and much
        more. We are here to help you our knowledge across different domain
        and our experts will help your business needs with applying
        intelligence like powerbi,tableau to create customised dashboards
      </p>
    </div>
    <div class="container-framworks">
      <div class="trapezoid"></div>
      <div class="trapezoid-image">
        <img src="../../../../assets/images/python.ico" />
        <img src="../../../../assets/images/angular.ico" />
        <img src="../../../../assets/images/react.ico" />
        <img src="../../../../assets/images/javascript.ico" />
        <img src="../../../../assets/images/mongodb.ico" />
        <img src="../../../../assets/images/r.ico" />
        <img src="../../../../assets/images/vuejs.ico" />
        <img src="../../../../assets/images/next-js.svg" />
        <img src="../../../../assets/images/php.ico" />
        <img src="../../../../assets/images/spark.png" />
        <img src="../../../../assets/images/pngwing.com.png" />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>