<!-- <div class="signup confirmation">
  <!---[ngClass]="{'hide': !openModel}" --->
  <!-- <div class="card list show">
    <div class="col-12"> -->
      <!-- <img
        src="../../../../assets/images/svg/close.svg"
        (click)="closePopUp()"
        class="hand-tool"
        style="float: right; width: 6%; margin-top: -16px;"
      /> -->
      <!-- <h3 class="play-it"><b>Create Employee</b></h3>
      <h5 class="form-error"> *** ErrorLabel *** </h5>
      <div class="row" *ngIf="step == 1">
          <div class="col-md-12 upload-item hand-tool" (click)="uploader.click()">
              <i class="fa fa-file"></i> Upload profile pic
          </div>
      </div>
    </div> -->
  <!-- </div>
</div>  -->
