<h1 class="h1">> Dashboard</h1>
<div class="grid-container">
  <div class="grid-item grid-item-1 mat-elevation-z2">
    <p>Welcome Vishnu!</p>
    <div class="wrapper">
      <br />
      <div class="wrapper-wrap">
        <small
          >Manage all the things from single dashboard like HRMS, PMS,
          Recruitment, and all the things.</small
        >
      </div>
      <div class="wrapper-img">
        <img src="../../../../../assets/images/animate-2.gif" alt="wlcme" />
      </div>
    </div>
  </div>
  <div class="grid-item grid-item-2 mat-elevation-z2">
    <p align="center">Calender</p>
    <div class="content"></div>
  </div>
  <div class="grid-item grid-item-3 mat-elevation-z2">
    <p align="center">Projects</p>
    <br />
    <br />
    <div class="container">
      <div class="project-container">
        <p>Task Name</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <br />
        <div class="container-img">
          <img
            src="../../../../../assets/images/teams/vishnu.png"
            alt="teams"
          />
          <img
            src="../../../../../assets/images/teams/harish.png"
            alt="teams"
          />
        </div>
      </div>
      <br />
      <mat-divider></mat-divider>
      <div class="project-container">
        <p>Task Name</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <br />
        <br />
        <div class="container-img">
          <img
            src="../../../../../assets/images/teams/vishnu.png"
            alt="teams"
          />
          <img
            src="../../../../../assets/images/teams/harish.png"
            alt="teams"
          />
        </div>
      </div>
      <br />
      <mat-divider></mat-divider>
      <div class="project-container">
        <p>Task Name</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <br />
        <br />
        <div class="container-img">
          <img
            src="../../../../../assets/images/teams/vishnu.png"
            alt="teams"
          />
          <img
            src="../../../../../assets/images/teams/harish.png"
            alt="teams"
          />
        </div>
      </div>
      <br />
      <mat-divider></mat-divider>
      <div class="project-container">
        <p>Task Name</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <br />
        <div class="container-img">
          <img
            src="../../../../../assets/images/teams/vishnu.png"
            alt="teams"
          />
          <img
            src="../../../../../assets/images/teams/harish.png"
            alt="teams"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item grid-item-4 mat-elevation-z2">
    <div align="center">
      <img [src]='employeeData && employeeData[0] ? imageBaseUrl + employeeData[0].profile_pic : ""' alt="vishnu" />
      <p>Vishnu Rajagopalan M</p>
    </div>
    <div class="content">
      <p style="float: left">Joining date:</p>
      <p style="float: right">29/05/2021</p>
      <br />
      <br />
      <p style="float: left">Current Employee</p>
      <p style="float: right">Yes!</p>
    </div>
  </div>
  <div class="grid-item grid-item-5 mat-elevation-z2">
    <p align="center">Daily tasks</p>
    <div class="content-container">
      <div class="content">
        <div class="content-date">10:00 AM</div>
        <div class="content-task">
          <p>Task name</p>
          <p>start-time-end-time</p>
        </div>
      </div>
      <br />
      <div class="content">
        <div class="content-date">10:00 AM</div>
        <div class="content-task">
          <p>Task name</p>
          <p>start-time-end-time</p>
        </div>
      </div>
      <br />
      <div class="content">
        <div class="content-date">10:00 AM</div>
        <div class="content-task">
          <p>Task name</p>
          <p>start-time-end-time</p>
        </div>
      </div>
    </div>
  </div>
</div>
