<footer>
  <div class="container">
    <div class="contact-us">
      <ul>
        <h1>Contact Us</h1>
        <li><a href="#">Email</a></li>
        <li><a href="#">phone</a></li>
        <li><a href="#">LinkedIn</a></li>
      </ul>
    </div>
    <div class="employees">
      <ul>
        <h1>Employees<br/>Cornor</h1>
        <li><a href="#">Login</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <div class="vision&Mission">
      <ul>
        <h1>Vision &<br/>Mission</h1>
        <li><a href="#">Vision</a></li>
        <li><a href="#">Mission</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    Copyright @ 2022 All rights reserved
  </div>
</footer>