.h1 {
  color: #bbbbbb;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 1rem;
  justify-content: center;
  align-content: center;
  height: 100%;
  flex-wrap: wrap;
}

.grid-item {
  background-color: #202224;
  min-height: 500px;
  min-width: 60px;
  flex: 1;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #bbbbbb;
}