<h1 class="h1">> Attendance</h1>
<div class="grid-container">
  <div class="grid-item grid-item-1">
    <p align="center">Attendance</p>

    <small style="float: left">Lunch Break</small>
    <mat-slide-toggle style="float: right"></mat-slide-toggle>
    <br />
    <span>end-time: 13:00</span>
    <br />
    <br />
    <small style="float: left">Tea Break</small>
    <mat-slide-toggle style="float: right"></mat-slide-toggle>
    <br />
    <span>end-time: 13:00</span>
    <br />
    <br />
    <div align="center">
      <button style="background-color: #ff8a00">Sign In</button>
      <button style="background-color: #0061b2">Sign Out</button>
    </div>
  </div>
  <div class="grid-item grid-item-2">
    <p align="center">Employee Attendance</p>
    <div align="center" class="container-img">
      <img src="../../../../../assets/images/teams/vishnu.png" alt="">
      <img src="../../../../../assets/images//teams/harish.png" alt="">
      <img src="../../../../../assets/images/teams/naveen.png" alt="">
      <img src="../../../../../assets/images/teams/vikram.png" alt="">
    </div>
    <div class="content">
      <br />
      <br />
      <p style="float: left">Name:</p>
      <p style="float: right">Vishnu Rajagopalan M</p>
      <br />
      <br />
      <p style="float: left">Attendance:</p>
      <p style="float: right">Present</p>
      <br />
      <br />
      <p style="float: left">Lunch Break:</p>
      <p style="float: right">01:30-2:30</p>
      <br />
      <br />
      <p style="float: left">Tea Break:</p>
      <p style="float: right">01:30-2:30</p>

      <br />
      <br />
      <p style="float: left">Sign In time:</p>
      <p style="float: right">01:30-2:30</p>
      <br />
      <br />
      <p style="float: left">Sign In time:</p>
      <p style="float: right">01:30-2:30</p>
    </div>
  </div>
</div>
