.button-container {
  padding-right: 3rem;
  padding-left: 3rem;
}

.row {
  display: flex;
  justify-content:center;
}

.framework-container {
  padding: 1rem .5rem 1rem .5rem;
}

.mg-2 {
  margin: 2rem;
}

.alignCenter {
  align-self: center;
}