<h1 class="h1">> Projects</h1>
<div class="row button-container">
  <button (click)="addFramework()" style="margin-right:10px;" mat-stroked-button color="primary">Add framework</button>
  <button style="margin-left:10px;" mat-stroked-button color="primary">Delete framework</button>
</div>

<div class="framework-container">
  <mat-grid-list cols="10" rowHeight="2:2" gutterSize="30px">
    <mat-grid-tile *ngFor="let frameworkList of framework" (click)="navigateToProjectList()">
      <img class="card-image"
        [src]="frameworkList && frameworkList.framework_image ?  baseApiUrl + frameworkList.framework_image : '../../../../../assets/images/frameworks.png'" />
        <br/>
      <div class="card_inner" align="center">
        {{frameworkList.framework}}
        <!-- <button mat-button color="warn" style="font-size: 8px; ">Click here</button> -->
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>