<h1 class="h1">> Projects</h1>
<div class="row button-container">
  <button (click)="addFramework()" style="margin-right:10px;" mat-stroked-button color="primary">Add framework</button>
  <button style="margin-left:10px;" mat-stroked-button color="primary">Delete framework</button>
</div>

<div class="framework-container">
  <mat-grid-list cols="3" rowHeight="fit" style="max-height: 200px; min-height: 60px;" gutterSize="10px">
    <mat-grid-tile style="border: 1px solid #000;">1</mat-grid-tile>
    <mat-grid-tile style="border: 1px solid #000;">2</mat-grid-tile>
    <mat-grid-tile style="border: 1px solid #000;">3</mat-grid-tile>
    <mat-grid-tile style="border: 1px solid #000;">4</mat-grid-tile>
    <mat-grid-tile style="border: 1px solid #000;">5</mat-grid-tile>
  </mat-grid-list>
</div>